.dropdown{

    display: inline-block;

    position: relative;
}

.dropdown-content{

    display: none;

    position: absolute;

    background-color: white;

    overflow: auto;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    z-index: 1;
}

.dropdown:hover .dropdown-content{

    display: block;
}

.dropdown-content a{

    display: block;

    color: black;

    padding: 5px;

    text-decoration: none;

    white-space: nowrap;
}

.dropdown-content a:hover{

    color: white;

    background-color: #00A4BD;
}

.row{
    display: flex;

    justify-content: center;
}

.column{
    flex: 33.33%;

    padding: 5px;
}

.title-bar{
    display: flex;

    flex-direction: row;

    align-items: flex-start;
}

.title-element{
    width: 50%;
}

.title-element h1{
    text-align: right;
}

.title-element button{
    float: right;
}
